# Dependencies
node_modules/

# Next.js
.next/
out/

# Production
build/
dist/

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Environment variables
.env
.env*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Package manager caches
.npm/
.yarn/cache/
.yarn/unplugged/
.yarn/build-state.yml
.yarn/install-state.gz
.pnpm-store/

# Testing and coverage
coverage/
.nyc_output/

# Vercel
.vercel/

# Editor and OS files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
.DS_Store
Thumbs.db
